<% provide(:title, "Stocks") %>
<h1>Aquirer's Multiple</h1>
<p>
  This is the stock page for the Aquirer's Multiple App.
</p>

<h1>All Investable Stocks</h1>
<p>All symbols <%= @Symbols %></p>
<p>Print out prices <%= @Prices %></p>

<table>
  <tr>
    <th>Symbol</th>
    <th>Price</th>
  </tr>
  <% for i in 0..3 %>
  <tr>
    <td><%= @Symbols[i] %></td>
    <td><%= @Prices[i] %></td>
  </tr>
  <% end %>
</table>

<br><br>

<br><%#= @alist %>

ARRAY of arrays to loop through: <%= @alist[1][1] %> Use i in alist[i][1] as
column and i in alist[1][i] for rows
<br><br>

<br><br>

<%= @nsymbol[0] %><%= @sname[0] %><%= @etf[0] %><%= @testv[0] %><%= @financials[0] %>
<br><br>
<%= @nsymbol[23] %><%= @sname[23] %><%= @etf[23] %><%= @testv[23] %><%= @financials[23] %>
<br><br>

<% for i in 0..9 %>
  <%= @nsymbol[i] %><%= @sname[i] %><%= @etf[i] %><%= @testv[i] %><%= @financials[i] %>
  <br>
<% end %>
